.sale-of-year{
    background-color: #fff;
    .title{
        padding: 18px 28px;
        border-bottom: 1px solid #efefef;
        h2{
            margin: 0;
            font-size: 30px;
            font-family: 'Roboto', sans-serif;
        }
    }
    .sale-of-year-chart-wrapper{
        padding: 20px;
    }
}