.am-title-courses {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: 500;
    align-items: center;

    .icon-management-courses {
        margin: 0px 5px;
        color: chocolate;
    }
}

.am-table-courses {
    margin-top: 30px;
}