.dashboard-main {
    margin-top: 20px;

    .dashboard-admin-title {
        font-size: 20px;
        margin-top: 0 !important;
        margin-bottom: 8px !important;
        font-weight: 500;
        color: #333;

        .icon-analyst {
            margin: 0px 5px;
        }
    }


}