.student_certificate{
    font-family: 'Roboto', sans-serif;
    padding:  0 30px;

    .student_certificate_title{
        display: flex;
        align-items: center;
        margin: 30px 0 8px;
        font-size: 20px;

        .student_certificate_title_icon{
            width: fit-content;
            font-size: 30px;
            display: flex;
            align-items: center;

            .icon_awardStudent{
                font-size: 18px;
            }
        }

        .student_certificate_text{
            color: #333;
            margin: 0;
            font-size: 20px;
        }
    }
    .student_certificate_header{
        background-color: var(--background);
        width: 100%;
        margin: 30px 0 0;
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;

        .student_certificate_header_title{
            display: flex;
            align-items: center;
            
            .student_certificate_header_icon{
                width: fit-content;
                margin: 0 6px;
                display: flex;
                align-items: center;

                .icon_awardHeader{
                    font-size: 30px;
                    color: var(--color-description);
                    font-weight: 200px;
                }
            }
            .student_certificate_header_text{
                color: #333;
                margin: 0;
                font-size: 24px;
            }
        }
    }
    .student_certificate_table{
        margin-top: 50px;
        .table-container{
            .student_certificate{
                color: #4183c4;
                cursor: pointer;
                &:hover{
                    color: #333333;
                }
            }
    
            .icon_actions{
                margin-right: 15px;
                cursor: pointer;
                font-size: 18px;
                color: #686f7a;
                &:hover{
                    color: #333333;
                }
            }
        }
    }
}