.submit-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #45a049;
}

.cancel-button {
    margin-left: 10px ;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-button:hover {
    background-color: #e53935;
}
  