.am-title-category {
    font-size: 20px;
    margin-top: 20px !important;
    margin-bottom: 8px !important;
    font-weight: 500;
    align-items: center;

    .icon-management-category {
        margin: 0px 5px;
    }
}

.add-category {
    text-align: right;  
}

.am-table-category {
    margin-top: 30px;
}