.am-title {
    font-size: 20px;
    margin-top: 20px !important;
    margin-bottom: 8px !important;
    font-weight: 500;
    align-items: center;

    .icon-management {
        margin: 0px 5px;
    }
}

.am-table {
    margin-top: 30px;
}