.dropdown_item {
    text-decoration: none;
    font-weight: 400;

    :hover {
        color: var(--color-black);
    }
}

.christmas_hat {
    position: absolute;
    top: -20px;
    left: -5px;
    height: 50px;
}