.layout-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  overflow-y: hidden;

  .main-content {
    display: flex;
    margin-top: 65px;
    transition: all 0.3s ease;
    width: 100%;

    .sidebar {
        transition: width 0.3s ease;
        width: 250px;
        z-index: 2;

        &.closed {
            width: 0;
        }
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 70vh;
      transition: margin-left 0.3s ease;
      background: #f7f7f7;

      .component {
        min-height: 100vh;
      }
    }
  }
}
